<div>
  <h2 id="international">Air Freight</h2>
  <p>
  Start shipping today! Here’s where you can send a parcel, get express shipping rates, find locations and learn more
  about shipping with BlueRay. We’re here to support you with our Customs expertise, variety of shipping solutions and
  wealth of knowledge in international shipping. <br> <br>
  Our products can broadly be described in two major categories: Express and Cargo Services<br>
  1. Express Services
  International Document Express Services is Expedited Air Express Services, designed to deliver time-sensitive
  documents worldwide. International Non Document Express Services is Air Parcel Services, designed to deliver parcels
  worldwide via a swift customs clearance channel at the origin and destination countries.
  <br> <br>
  2. Cargo Services
  Door to Door (Express / Economy Services) is the movement of large commercial shipments either on express or economy
  mode from origin door to destination door.Door to Airport (Express / Deferred Services) is the movement of large
  commercial shipments either on express or economy mode from origin door to destination airport.
  <br> <br>
  Airport to Airport (Express / Deferred Services) is the movement of large commercial shipments from origin airport to
  destination airport.
  <br> <br>
  Additionally, over the years, we have introduced many customized products such as:
  <br> <br>
  Student Express: This product has been designed specifically to address to critical and sensitive needs of the
  Student segment. Students from India sending application forms, statements of purpose, and other personal documents
  to universities and institutes abroad can now avail attractive schemes from BlueRay that include special prices, 24/7
  online tracking, free home pick-up and guaranteed delivery.
  <br> <br>
  Excess Baggage: Often, our customers who are relocating to/from, vacationing or visiting loved ones in international
  locations face issues carrying excess baggage back with them or are charged high EBT charges by the airlines. We
  offer seamless and relatively cost-effective solutions with safe packaging and reasonable time frames of delivery,
  for such requests.
  <br> <br>
  Imports Express : Subject to custom clearances and various other permits required, we offer solutions for Import into
  India through Express modes.
  <br> <br>
  International Cash on Delivery: Our customers outside India can request pick-up from anywhere in India at their local
  BlueRay offices and receive them at their doorstep, with payment made by the consignee on receipt of shipment.
  ..and various other festival / season based products.
  </p>
</div>
