<h2>CAREER</h2>
				
		<p>		Join us at BlueRay, we believe that our people are our competitive edge. If you have the passion for excellence and seek a fulfilling career, explore this section to learn more about our job opportunities.


				The recruitment process
				The recruitment process at  BlueRay is founded on the strong pillars of Meritocracy, Positive Attitude and Passion. If you have the drive to be a contributing member of a diverse and globally competitive conglomerate, and if we find that your skills, interests and experience are a good fit...you are who we are looking for! Apply now!

				Here's what we look for...
				BlueRay is an equal opportunity employer and we believe in diversity of thoughts, skill sets and experiences to match the diversity in our business lines. While there are distinct competencies that we look for specific to the job and business you are interested in, there are certain qualities that mark an BlueRay straight away. We look for leaders with drive and tenacity, energy and enthusiasm, who can initiate a project and follow through to the end and who show an entrepreneurial spirit.
				
				To work for BlueRay is to be welcomed into a diverse family, where the individual contribution of every member is respected and valued. Above all, it’s an opportunity to join a team which is bound and driven by the Power of Positive Action.
				We look for motivated individuals to lead our business into the future. If you possess the passion and commitment to succeed, you are welcome to explore our world of opportunities!
				Ready to join our team and be a part of the BlueRay family? Apply now!
</p>