    <body>
        <header>
            <img src="assets/images/Logo3.jpg">
            <h1><span style="color: #015E87">Blue</span><span style = "color: #ADACA8">Ray</span></h1>
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="ourservices.html">Our Services</a></li>
                    <li><a href="shipping.html">Shipping</a></li>
                    <li><a href="tracking.html">Tracking</a></li>
                    <li><a href="contactus.html">Contact Us</a></li>
                </ul>
            </nav>
        </header>
    	<div class="main">
    	   <div class="links">
    		    <ul>
                    <li><a href="#packing"  >Packing</a></li>
                    <li><a href='#dangerous'>Dangerous Goods</a></li>
                    <li><a href='#documents'>Documents</a></li>
                </ul>
    	   </div>
           <div class="content">
            <div class="title">
                <h2><span class="arrow-right"></span>Shipping</h2>
            </div>
                <div class="script1">
    	            <div id="packing">
                		<img id="img_ship" src="assets/images/ship1.png"/>
                		<h2>What's the best way to pack items for shipping?</h2>
                        At United , our objective is to get your shipment safely to its destination in the same condition it was sent. The next time you ship with United Xpress® you can do your part by reviewing our packaging tips on how to pack a box and following our guidelines. If you need help packaging your parcel or want to purchase supplies.
                        <h3>Follow the Basics :</h3>
                        <h4> 1.CUSHION IT</h4>
                        Choose cushioning of appropriate density and thickness, and use enough to fill all void spaces in your shipping container.
                        <h4> 2. BOX IT</h4>
                        Select a convenient container that is large enough to accommodate the proper thickness of cushioning material.
                        <h4> 3. SEAL IT</h4>
                        Apply at least three strips of packaging tape to the top and bottom sides of the container using the H taping method.
                        <h4> 4. LABEL IT</h4>
                        Place the transportation label with the recipient's complete address on the most visible side of the container away from any folds or seams.
                    </div>
        	        <div id="dangerous">
        		        <h2>Dangerous Goods</h2>
        		        In consistence with <span style="color: red;">International Air Transport Association (IATA) </span>guidelines, below is the full listing of prohibited items / goods that are not allowed to be loaded on an airplane. Please refer to this guideline before sending your shipments.. 
                        Items/Products are normally forbidden on any commercial aircraft or ocean freight.. Example: Bullets, Gun Powder.
                        <ul>
                            <li>CLASS-1 Explosive</li>
                            <li>CLASS-2 Gases</li>
                            <li>CLASS-3 Flamable Liquid</li>
                            <li>CLASS-4 Radioactive Material</li>
                            <li>CLASS-5 Toxic & Infectious Substances</li>
                        </ul>
        	        </div>
                    <div id="documents">
                        <h2>Documents</h2>
                        <ol>
                            <li>Commercial Invoice</li>
                            <li>Shipper's Letter of Instruction</li>
                            <li>Packing List</li>
                            <li>TSCA Certificate</li>
                            <li>Non-DG Declaration</li>
                        </ol>
                    </div>
                </div>       
            </div>
        </div>
    </body>
