
  <h2 id="sea_freight">Sea Frieght</h2>

  <p>
  BlueRay provides Ocean Services for Export & Imports. We handle LCL/FCL shipments at harbour and in ICD locations. We
  have good rates for LCL/FCL to any point of destination in the world. This allows us the flexibility to provide more
  frequent sailing, Additional vessel space, and reliable schedules.
  <br> <br>
  Our Sea Freight Services Includes:
  <br> <br>
  Sea Freight ForwarderCombined Air ,Sea Freight Services.Sea Freight Export/Import Consolidation.Warehousing Services,
  Distribution & DeliveryDoor to Door DeliveryCustoms BrokerageLCL ConsolidationFCL ConsolidationOrder Followup
  tracking systemsFactory Stuffing.
  <br> <br>
  Our sea freight services and cargo freight forwarding services are available for various destinations including USA,
  European Countries, Canada, Far East Countries and others.
  <br> <br>
  <strong>Consolidation</strong>
  <br> <br>
  With liberalisation of Indian economy by the Government of India, our country is flooded with direct foreign
  investment and arrival of multinationals for business promotional activities. Two way trade is therefore increasingly
  made mandatory.
  <br> <br>
  Import cargo coming into India both by air and sea can be imported with cheaper freight rate under the concept of
  Import Consolidation.
  <br> <br>
  <strong>Sea Freight</strong>
  <br> <br>
  BlueRay Express Sea freight Division, has been the premier provider of overseas shipping services, offering superior
  and cost effective shipping solutions. Whether there is a need for a consolidated or direct sea service, our expert
  professionals are ready to route your goods. A variety of options are available for the most competitive and reliable
  sea freight forwarding service.
  <br> <br>
  Whether door-to-door or port-to-port, we tailor a service to match your deadlines. The sea freight division is
  available 24 hours a day, 7 days a week, and 365 days a year.
  <br> <br>
  <strong>International Shipping Experts</strong>
  <br> <br>
  International Sea Freight No weight or size limits (subject to cargo ship) Clear transit time statement Cargo
  tracking services Customs clearance (Subject to destination)
  <br> <br>
  BlueRay Express Logistics India Sea freight Division's goal is "To deliver a competitive advantage to each customer."
  Our safety records for marine cargo shipment delivery have exceeded all industry standards. Thus, whether you are
  moving a vehicle, boat, household goods or general cargo, you will be comfortable knowing that BlueRay Express will
  take care of all aspects of your relocation needs.
</p>

