<div>
  <h2 id="logistics">Logistics</h2>
  <p>
  BlueRay with 13,000 individuals as its strength, delivers at over 10,000 zip (pin code) areas, handling 10 million
  consignments every month. BlueRay serves over 240 international destinations.
  <br> <br>
  BlueRay Courier & Cargo Ltd. is one of the leading Express distribution company in India covering both domestic and
  international services. Incorporated in the year 1990, BlueRay is in its 21st year of operations in India. It has a
  large delivery network covering close to 10,000 Pincodes giving its customers the best reach in the country. Its
  efficient international network spans over 240 global destinations supported by its own offices in US, UK, DUBAI,
  SINGAPORE, CANADA, BANGLADESH, HONGKONG, SRI LANKA, NEPAL, TURKEY and associate offices in all the important global
  destinations.
  <br> <br>
  Head quartered in Bangalore BlueRay has its Zonal offices in Bangalore, Mumbai, Delhi and Kolkata supported by 300
  plus own offices and over 5400 channel partner offices spread across the country delivering over 100 million
  shipments every year. Company has the state of art IT infrastructure to support their operations and has built many
  customized applications for its corporate clients.

  </p>
</div>
