/* You can add global styles to this file, and also import other style files */
header { 
    background-color:black;
 height:150px;
 padding-top:3px;
 padding-bottom:20px;
 padding-left:10px;

}
header h1 {
    float: left;
	font-size: 50px;
	margin-left: 5px;
  margin-top: 8px;
}
