
	<body>
		<header>
			<!-- <img src="assets/images/Logo3.jpg"> -->
			<h1><span style="color: #015E87">Blue</span><span style = "color: #ADACA8">Ray</span></h1>
			<nav>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="aboutus.html">About Us</a></li>
					<li><a href="ourservices.html">Our Services</a></li>
					<li><a href="shipping.html">Shipping</a></li>
					<li><a href="tracking.html">Tracking</a></li>
					<li><a href="contactus.html">Contact Us</a></li>
				</ul>
			</nav>
		</header>
		<div class="content" style="width:100%; margin-right: 0%; margin-top: 5px;">

				<div class = "images/images">
					<img id = "img_1" src="assets/images/img_1.jpg"/>
				</div>
				<div class="script1">
					<section id="about">
						<h1> WELCOME TO BLUERAY COURIER</h1>
						BlueRay courier is the best International courier service provider in Hyderabad and across India. Our courier centers are available in multiple locations like, Hyderabad, Bangalore, Andhra Pradesh, Pune and Mumbai etc. We can deliver your luggage from India to Abroad. BLueRay courier is the best international parcel service provider in India. We have been serving more than 220 countries and territories and connecting markets that comprise more than 90 percent of the world’s business with delivery to most countries in 2-4 business days. We are providing courier tracking facility in online.
					</section>
				</div>

				<div class = "images" style="margin-top: 20px; margin-bottom: 20px;">
					<img id="img_2" src="assets/images/img_2.jpg"/>
					<img id="img_3" src="assets/images/img_3.jpg"/>
				</div>

				<div class="script1">
					<section id="whowe">
						<h3> Who we are :</h3>
						BlueRay international courier services offers a fast, reliable parcel delivery service to over 220 countries. We don’t ask our customers to choose between cost savings and quality. We deliver both. We offer India next day delivery and worldwide parcel services from the world’s best couriers up to 30% cheaper than booking direct. Our smart technology makes sending couriers easy, even if you’re a first timer.
					</section>
					<h2 id="head_last">CLIENTS</h2>	
				</div>
				<div class="images" style="margin-bottom: 20px; margin-top: -5px;">
							<img id="img_4" src="assets/images/logos.gif"/>
				</div>
		</div>
	</body>
